<div class="productName"><%= @product.name %></div>
<p class="productDescription"><%= @product.description %></p>
<p class="productPrice">Price: <%= @product.price %></p>
<p class="productInventory">Inventory: <%= @product.inventory %></p>
<a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>
<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function() {
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/products/" + nextId + "/data", function(data) {
        $(".productName").text(data["name"]);
        $(".productDescription").text(data["description"]);
        $(".productInventory").text(parseInt(data["inventory"], 10));
        $(".productPrice").text(parseInt(data["price"], 10));
        // re-set the id to current on the link
        $(".js-next").attr("data-id", data["id"]);
      });
    });
  });
</script>
